*/obj
*/bin/Debug/*
/Pendo.JourneyService/app/__pycache__
/Pendo.JourneyService/temp/__pycache__
bin/
obj/
*.dacpac
Pendo.MessageService/endpoints.md
.vs
.vscode
efpt.config.json
efpt.config.json.user
/Pendo.IdentityService/Identity.DataAccess/efpt.config.json
.DS_Store
__pycache__
/Pendo.BookingService/.venv-booking
Pendo.BookingService/app/.env
Pendo.BookingService/pyvenv.cfg
Pendo.BookingService.log