# Core dependencies
aiohttp>=3.11.0,<4.0.0
aiohttp-cors==0.7.0
fastapi==0.110.0
pydantic==2.6.4
sqlalchemy==2.0.27
websockets==12.0
python-dotenv==1.0.1

# Database drivers
pymssql==2.3.2

# Utils
python-multipart==0.0.9
email-validator==2.1.1